nav {
	color: #fff;
	padding: 1rem 0;
	margin-bottom: 2rem;
}

.first-row,
.left-part,
.right-part {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.first-row {
	margin-bottom: 1rem;
}

.second-row {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.brand-name > a {
	font-size: 2.4rem;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}
