.cart-heading {
	background-color: #7b113a;
	padding: 1rem;
	color: #fff;
	font-size: 2rem;
}
.cart-items-wrapper {
	margin-top: 4rem;
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

.cart-items-list {
	width: 60%;
}

.notification {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6rem;
}

.empty-cart-notification {
	color : #fff;
	margin-bottom: 1rem;
}

.home-link {
	width: 10rem;
	height: 3rem;
	text-decoration: none;
	color : #fff;
	background-color: #7b113a;
	text-transform: uppercase;
	transition: all 0.5s ease-in-out;
	display : flex;
	justify-content:center;
	align-items: center;	
}

.home-link:hover {
	background-color: #fff;
	border: 2px solid #7b113a;
	color: #7b113a;
	cursor: pointer;
}